@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 266 49% 42%;
    --foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    /* --primary: 222.2 47.4% 11.2%; */
    --primary: 44 100% 62%;
    /* --primary-foreground: 210 40% 98%; */
    --primary-foreground: 0 0% 0%;

    /* --secondary: 210 40% 96.1%; */
    --secondary: 263 66% 18%;
    /* --secondary-foreground: 222.2 47.4% 11.2%; */
    --secondary-foreground: 0 0% 100%;

    /* --accent: 210 40% 96.1%; */
    --accent: 274 53% 56%;
    /* --accent-foreground: 222.2 47.4% 11.2%; */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
	font-family: 'Anton-Regular';
	src: url('../../public/fonts/Anton-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope-Light';
	src: url('../../public/fonts/Manrope-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope-Medium';
	src: url('../../public/fonts/Manrope-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope-Regular';
	src: url('../../public/fonts/Manrope-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope-Bold';
	src: url('../../public/fonts/Manrope-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope-ExtraBold';
	src: url('../../public/fonts/Manrope-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Manrope-SemiBold';
	src: url('../../public/fonts/Manrope-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('../../public/fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('../../public/fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Light';
	src: url('../../public/fonts/Poppins-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url('../../public/fonts/Poppins-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('../../public/fonts/Poppins-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik-SemiBold';
	src: url('../../public/fonts/Rubik-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik-Medium';
	src: url('../../public/fonts/Rubik-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik-Regular';
	src: url('../../public/fonts/Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik-Light';
	src: url('../../public/fonts/Rubik-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik-Bold';
	src: url('../../public/fonts/Rubik-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik-ExtraBold';
	src: url('../../public/fonts/Rubik-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Syne-ExtraBold';
	src: url('../../public/fonts/Syne-ExtraBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Syne-Regular';
	src: url('../../public/fonts/Syne-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Syne-SemiBold';
	src: url('../../public/fonts/Syne-SemiBold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Syne-Medium';
	src: url('../../public/fonts/Syne-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Syne-Bold';
	src: url('../../public/fonts/Syne-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}